@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
    ViewBag.possible_rates = new List<int> { 1, 2, 3, 4, 5 };
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
    <p>
        Genre: @Html.DropDownList("movieGenre",new SelectList(ViewBag.movieGenre,"Horror"))
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>My Rating</th>
        <th>Aggregate Rating</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>

            @*@using (Html.BeginForm("UpdateRating", "Movies", FormMethod.Post, new { id = "ratingform"}))
            {
                @Html.DropDownList("Value",new SelectList(ViewBag.possible_rates),new {id = "ratingselect"})
                @Html.Hidden("movieID",item.ID)
                <input type="submit" value="Rate Movie" />
            }*@
            @using (Html.BeginForm("UpdateRating", "Movies", new { id = "ratingform"+item.ID.ToString() }))
            {
                @Html.DropDownList("Value",new SelectList(ViewBag.possible_rates),new {@class = "ratings", id = "ratingselect"+item.ID.ToString(), datamovie = item.ID})
                @Html.Hidden("movieID",item.ID)
            }
        </td>
        <td>N/A</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
